# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart.bak

# Android build
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/key.properties

# iOS build
ios/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS build
macos/build/
macos/Pods/
macos/Flutter/ephemeral/

# Log files
*.log
flutter_01.log
build_error.log

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
